[access]
	inheritFrom = open
[submit]
	action = merge always
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Avogadro-contrib
	label-Verified = -1..+1 group Avogadro-contrib
[access "refs/*"]
	push = group Avogadro-core
	pushTag = group Avogadro-core
[receive]
	requireChangeId = true
	allowTopicReview = true
