[Desktop Entry]
Version=1.2
Name=Avogadro
GenericName=Advanced molecular editor
GenericName[el]=Προχωρημένος μοριακός επεξεργαστής
GenericName[fi]=Kehittynyt molekyylimuokkain
GenericName[pt]=Editor molecular avançado
GenericName[ru]=Продвинутый молекулярный редактор
GenericName[tr]=Gelişmiş Moleküler Düzenleyici
GenericName[af]=Gevorderde molekulêre redigeerder
GenericName[sq]=Modifikues i avancuar molekulash
GenericName[ast]=Editor molecular avanzáu
GenericName[eu]=Editore molekular aurreratua
GenericName[be]=Прасунуты рэдактар малекул
GenericName[bn]=উচ্চ পর্যায়ের মলিকুলার সম্পাদক
GenericName[bs]=Napredni uređivač molekula
GenericName[pt_BR]=Editor molecular avançado
GenericName[bg]=Редактор на молекули с много възможности
GenericName[ca]=Editor molecular avançat
GenericName[ca@valencia]=Editor molecular avançat
GenericName[zh_HK]=進階分子編輯器
GenericName[zh_CN]=高级分子编辑器
GenericName[zh_TW]=進階分子編輯器
GenericName[crh]=Gelişmiş moleküler editör
GenericName[cs]=Pokročilý molekulární editor
GenericName[da]=Avanceret molekulær redigering
GenericName[nl]=Geavanceerde moleculaire editor
GenericName[eo]=Prospertula molekulredaktilo
GenericName[et]=Täiustatud molekulaar redaktor
GenericName[fr]=Éditeur moléculaire avancé
GenericName[fr_CA]=Éditeur moléculaire avancé
GenericName[gl]=Editor de moléculas avanzado
GenericName[de]=Fortgeschrittene Molekülbearbeitung
GenericName[he]=עורך מולקולארי מתקדם
GenericName[hi]=उन्नत अणु संपादक
GenericName[hu]=Fejlett molekuláris szerkesztő
GenericName[id]=Penyunting molekul tingkat lanjut
GenericName[it]=Un editor molecolare avanzato
GenericName[ja]=先進的な分子構造エディター
GenericName[ky]=Жакшыртылган молекулалар редактору
GenericName[ko]=고급 분자 편집기
GenericName[ms]=Penyunting molekul termaju
GenericName[nb]=Avansert behandler av molekyler
GenericName[oc]=Editor molecular avançat
GenericName[fa]=ویرایشگر مولکولی پیشرفته
GenericName[pl]=Zaawansowany edytor molekuł i biomolekuł
GenericName[ro]=Editor molecular avansat
GenericName[sr]=Напредни молекуларни уредник
GenericName[sk]=Pokročilý editor molekúl
GenericName[sl]=Napredni urejevalnik molekul
GenericName[es]=Editor molecular avanzado
GenericName[sv]=Avancerad molekylredigerare
GenericName[tg]=Муҳаррири молекулярии пешрафта
GenericName[ta]=மேம்பட்ட மூலக்கூறு திருத்தி
GenericName[th]=ตัวแก้ไขโมเลกุลขั้นสูง
GenericName[uk]=Розширений молекулярний редактор
GenericName[vi]=Trình biên soạn phân tử đa năng
Comment=Molecular Graphics and Modelling System
Comment[da]=Molekulært grafik- og modelsystem
Comment[de]=System für Molekülgrafiken und -modellierung
Comment[fr]=Système de modélisation et d'imagerie moléculaire
Comment[it]=Sistema di grafica e modellamento molecolare
Comment[pl]=System do molekularnego modelowania i wizualizacji
Comment[ru]=Система для молекулярного моделирования и визуализации
Exec=avogadro %f
Icon=avogadro-icon
Terminal=false
Type=Application
Categories=Qt;Science;Chemistry;Physics;Education;
StartupNotify=true
MimeType=chemical/x-cif;chemical/x-cml;chemical/x-daylight-smiles;chemical/x-gamess-input;chemical/x-gamess-output;chemical/x-gaussian-log;chemical/x-mopac-out;chemical/x-pdb;chemical/x-xyz;chemical/x-gaussian-checkpoint;chemical/x-gaussian-cube;chemical/x-qchem-output;
